{
  "name": "index-corpus",
  "description": "Indexes the whole document corpus using Elasticsearch default settings.",
  "default": true,
  "schedule": [
    {
      "operation": "delete-index"
    },
    {
      "operation": {
        "operation-type": "create-index",
        "settings": {% raw %}{{index_settings | default({}) | tojson}}{% endraw %}
      }
    },
    {
      "operation": {
            "operation-type": "bulk",
            "bulk-size": {% raw %}{{bulk_size | default(5000)}}{% endraw %},
            "ingest-percentage": {% raw %}{{ingest_percentage | default(100)}}{% endraw %}
      },
      "warmup-time-period": 120,
      "clients": {% raw %}{{bulk_indexing_clients | default(8)}}{% endraw %}
    }
  ]
}
