    {
      "name": "index-corpus",
      "description": "Indexes the whole document corpus using Elasticsearch default settings.",
      "default": true,
      "schedule": [
        {
          "operation": "delete-index"
        },
        {
          "operation": {
            "operation-type": "create-index",
            "settings": {% raw %}{{index_settings | default({}) | tojson}}{% endraw %}
          }
        },
        {
          "operation": {
                "name": "index-append",
                "operation-type": "bulk",
                "bulk-size": {{bulk_size | default(5000)}},
                "ingest-percentage": {{ingest_percentage | default(100)}}
          },
          "warmup-time-period": 120,
          "clients": {% raw %}{{bulk_indexing_clients | default(8)}}{% endraw %}
        }
      ]
    }