{% raw %}{% import "rally.helpers" as rally with context %}{% endraw %}
{
  "version": 2,
  "description": "Tracker-generated track for {{track_name}}",
  "indices": [{% set comma = joiner() %}{% for index in indices %}
{{comma()}}
    {
      "name": "{{index.name}}",
      "body": "{{index.filename}}"
    }{% endfor %}
  ],
  "corpora": [
    {
      "name": "{{track_name}}",
      "base-url": "{{corpora[0].base_url}}",
      "documents": [{% for corpus in corpora %}
{{comma()}}
        {
          "target-index": "{{corpus.index_name}}",
          "source-file": "{{corpus.filename}}",
          "document-count": {{corpus.doc_count}},
          "compressed-bytes": {{corpus.compressed_bytes}},
          "uncompressed-bytes": {{corpus.uncompressed_bytes}}
        }{% endfor %}
      ]
    }
  ],{% raw %}
  "challenges": [
    {{ rally.collect(parts="challenges/*.json") }}
  ]{% endraw %}
}
