{
    "name": "index-append",
    "operation-type": "bulk",
    "bulk-size": {{bulk_size | default(5000)}},
    "ingest-percentage": {{ingest_percentage | default(100)}}
},
{
    "name": "index-update",
    "operation-type": "bulk",
    "bulk-size": {{bulk_size | default(5000)}},
    "ingest-percentage": {{ingest_percentage | default(100)}},
    "conflicts": "{{conflicts | default('random')}}",
    "on-conflict": "{{on_conflict | default('index')}}",
    "conflict-probability": {{conflict_probability | default(25)}},
    "recency": {{recency | default(0)}}
}