{% raw %}{% import "rally.helpers" as rally with context %}{% endraw %}
{
  "version": 2,
  "description": "Tracker-generated track for {{track_name}}",
  "indices": [{% for index in indices %}
    {
      "name": "{{index.name}}",
      "body": "{{index.filename}}"
    }{% if not loop.last %},{% endif %}{% endfor %}
  ],
  "corpora": [
    {
      "name": "{{track_name}}",
      "base-url": "{{corpora[0].base_url}}",
      "documents": [{% for corpus in corpora %}
        {
          "target-index": "{{corpus.index_name}}",
          "source-file": "{{corpus.filename}}",
          "document-count": {{corpus.doc_count}},
          "compressed-bytes": {{corpus.compressed_bytes}},
          "uncompressed-bytes": {{corpus.uncompressed_bytes}}
        }{% if not loop.last %},{% endif %}{% endfor %}
      ]
    }
  ],{% raw %}
  "operations": [
    {{ rally.collect(parts="operations/*.json") }}
  ],
  "challenges": [
    {{ rally.collect(parts="challenges/*.json") }}
  ]{% endraw %}
}
