version: '2.2'
services:
  rally:
    image: elastic/rally:${RALLY_VERSION}
    container_name: rally
    command: ${TEST_COMMAND}
    volumes:
      - rally:/rally/.rally
    networks:
      - esnet
    depends_on:
      es01:
        condition: service_healthy
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.1.1
    container_name: es01
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 19200:9200
    networks:
      - esnet
    healthcheck:
          test: curl -f http://localhost:9200
          interval: 5s
          timeout: 2s
          retries: 10
networks:
  esnet:
    name: rally-tests

volumes:
  esdata1:
    driver: local
  rally:
    driver: local
