version: '2.2'
services:
  rally:
    image: ${RALLY_DOCKER_IMAGE}:${RALLY_VERSION_TAG}
    container_name: rally
    command: ${TEST_COMMAND}
    volumes:
      - rally:/rally/.rally
    networks:
      - esnet
    depends_on:
      es01:
        condition: service_healthy
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.4
    container_name: es01
    environment:
      - node.name=es01
      - cluster.name=docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      # It disable security for tests
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false
      - xpack.security.http.ssl.enabled=false
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 19200:9200
    networks:
      - esnet
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -vq '\"status\":\"red\"'"]
      interval: 10s
      timeout: 10s
      retries: 120

networks:
  esnet:
    name: rally-tests

volumes:
  esdata1:
    driver: local
  rally:
    driver: local
