name: CI

on: [push, pull_request]

permissions: "read-all"

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: pyproject.toml
      - name: "Install dependencies"
        run: python -m pip install .[develop]
      - uses: pre-commit/action@v3.0.0

  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        os:
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}
    name: unit ${{ fromJson('{"macos-latest":"macOS","ubuntu-latest":"Ubuntu"}')[matrix.os] }} ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - name: "Install dependencies"
        run: python -m pip install --upgrade nox
      - name: "Run tests"
        run: nox -s test-${{matrix.python-version}}

  rally-tracks-compat:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: pyproject.toml
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      - run: echo "JAVA17_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
      - run: echo "JAVA11_HOME=$JAVA_HOME_11_X64" >> $GITHUB_ENV
      - name: "Install dependencies"
        run: python -m pip install --upgrade nox
      - name: "Run tests"
        run: nox -s rally_tracks_compat

  install-with-pyenv:
    runs-on: ubuntu-22.04

    steps:
      - name: Install Python with pyenv
        uses: gabrielfalcao/pyenv-action@v13
        with:
          default: "3.10.9"
          command: python3 -m pip install --user --upgrade pip
      - name: Check Python version
        run: python3 --version | grep "Python 3.10.9"
      - name: Install Rally
        run: python3 -m pip install --user esrally
      - run: esrally --version
